
.drawing-app {
    display: flex;
    height: 100vh;
  }
  
  .toolbar {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
 
  .toolbar .color-options {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .toolbar .color-options button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  

  .toolbar .brush-size input[type="range"] {
    width: 100%;
  }
 
  .canvas-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  
  canvas {
    border: 2px solid #ddd;
  }
  
  .makecorrection {
    display: flex;
    gap: 1rem;
  }
  .makecorrection button {
    padding: 0.2rem;
    cursor: pointer;
  }
  .shapes {
    display: flex;
    gap: 1rem;
  }
  .shapes button {
    padding: 0.2rem;
    cursor: pointer;
  }
  .text {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .drawing-app {
      flex-direction: column;
      height: auto;
    }
  
    .toolbar {
      width: 100%;
      padding: 10px;
      border-right: none;
      border-bottom: 2px solid #ddd;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    .toolbar .color-options {
      gap: 5px;
      margin-bottom: 10px;
    }
  
    .toolbar .color-options button {
      width: 30px;
      height: 30px;
    }
  
    .toolbar .brush-size input[type="range"] {
      width: 100px;
    }
  
    .canvas-container {
      flex-grow: 0;
      width: 100%;
      margin-top: 10px;
      padding: 0 10px;
    }
  
    canvas {
      width: 100%;
      height: auto;
    }
  
    .makecorrection {
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  
    .makecorrection button {
      padding: 0.1rem;
    }
  
    .shapes {
      gap: 0.5rem;
      flex-wrap: wrap;
    }
  
    .shapes button {
      padding: 0.1rem;
    }
  
    .text {
      gap: 0.5rem;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  